<div class="jumbotron">
    <div class="container">
        <h1>About us</h1>
        <p>This is the sample project for <a href="https://onemonthrails.com">One Month Rails</a>.</p>
    </div>
</div>

<!--
<h1>About us</h1>
<p>We're working on our project. &quot;We&quot;, being me and my chatbot.</p>
<p>For now, contact me via Slack, or GitHub.</p>
-->
