<div class="jumbotron">
    <div class="container">
        <h1>Contact Us</h1>
        <p>Post a story or comment</a>.</p>
    </div>
</div>



<!--
<h1>Contact Us</h1>
<p>Post a story or comment.</p>
-->