<h1>If Everything Is A Priority, Nothing Is a Priority</h1>
<h2>Like Reddit, For Ideas and Initiatives</h2>
<p>Backlogs for brainstorms and ideation, loosely constructed using stories, upvoting and comments.</p>
<h2>Background</h2>
<p>Once a year, sometimes twice, we formally evaluate new ideas and opportunities to explore and potentially do -- related to both technology and marketing. But then new opportunities and ideas pop up all year long, and we tend to either ignore these <em>or</em> see them as highest-priority objects in that moment. This info is also locked in siloes of email, chat, ticketing and project management systems, where it either rots or clutters.</p>
<h2>Goals</h2>
<p>We need a better way to capture these ideas (which can also release them from our cognitive load), discuss them, and both vote and comment on them.</p>
<p>There's probably software and services that exist for this, but I'll say I need something to be highly customized, including how it's deployed. Plus some techniques used here might be applied elsewhere.</p>

