<% if user_signed_in? %>
	<div class="jumbotron jumbotron-home">
	<div class="container">
	       	<h1> Welcome back!</h1>
	</div>
	</div>
<% else %>
	<div class="jumbotron jumbotron-home">
	    <div class="container">
	    	<h1>Welcome to my website!</h1>
	    	<p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
	       	<%= link_to "Learn more »", "#", class: "btn btn-primary btn-lg" %> 
	    </div>
	</div>
	<div class="container">
	    <div class="row">
	        <div class="col-md-4">
	            <h2>Heading</h2>
	            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
	            <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
	        </div>
	        <div class="col-md-4">
	            <h2>Heading</h2>
	            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
	            <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
	        </div>
	        <div class="col-md-4">
	            <h2>Heading</h2>
	            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
	            <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
	        </div>
	    </div>
	</div>
 <% end %> 
<!--
<h1>If Everything Is A Priority, Nothing Is a Priority</h1>
<h2>Like Reddit, For Ideas and Initiatives</h2>
<p>Backlogs for brainstorms and ideation, loosely constructed using stories, upvoting and comments.</p>
<h2>Background</h2>
<p>Once a year, sometimes twice, we formally evaluate new ideas and opportunities to explore and potentially do -- related to both technology and marketing. But then new opportunities and ideas pop up all year long, and we tend to either ignore these <em>or</em> see them as highest-priority objects in that moment. This info is also locked in siloes of email, chat, ticketing and project management systems, where it either rots or clutters.</p>
<h2>Goals</h2>
<p>We need a better way to capture these ideas (which can also release them from our cognitive load), discuss them, and both vote and comment on them.</p>
<p>There's probably software and services that exist for this, but I'll say I need something to be highly customized, including how it's deployed. Plus some techniques used here might be applied elsewhere.</p>
-->
