// Place all the styles related to the signin and signup here.
// If you want it to be automatically included in application.css,
// then add an import statement there.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_user {
    max-width: 330px;
    padding: 5em 1em;
    margin: 0 auto;
}